# dependencies
node_modules
.pnpm-store

# build
.next
out
dist
build
.turbo
.vercel

# cache
coverage
.cache
.tmp

# env files
.env*
*.log

# generated
pnpm-lock.yaml
package-lock.json
