@use '../../../styles/globals.scss' as *;

.card {
  border-radius: var(--radius-lg);
  padding: var(--spacing-5);
  background: var(--color-surface);
  border: 1px solid var(--color-border);
  font-size: var(--text-xs);
  

  &--primary{
    background: var(--marguerite-900);
    border: 1px solid var(--marguerite-700);
  }
}