.root {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.trigger {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-2) var(--spacing-4);

  font-size: var(--text-sm);
  color: var(--color-text-primary);

  background-color: var(--color-surface-elevated);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  outline: none;

  appearance: none;
  transition: border-color 0.15s ease-in-out;

  &[data-disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &[data-focus-visible] {
    outline: 2px solid var(--color-focus-ring);
    outline-offset: 2px;
  }

  .root[data-invalid] & {
    border-color: var(--color-danger);
  }

  .lucide-chevron-down {
    width: var(--spacing-4);
    height: var(--spacing-4);
  }
}

.value {
  flex: 1;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &[data-placeholder] {
    color: var(--color-text-muted);
  }

  [slot='description'] {
    display: none;
  }
}

.popover {
  width: var(--trigger-width);
  padding: 0;
}
