@use 'shared/styles/mixins' as *;

.settings {
  padding: var(--spacing-4);
  @include flex(flex-start, stretch, column);
  gap: var(--spacing-6);

  &__section {
    @include flex(flex-start, stretch, column);
    gap: var(--spacing-4);
  }

  &__section-title {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-semibold);
  }

  &__actions {
    @include flex(flex-start, stretch, column);
    gap: var(--spacing-5);
  }

  &__action {
    @include flex(flex-start, flex-start, column);
    gap: var(--spacing-2);
  }

  &__action-title {
    font-weight: var(--font-weight-medium);
  }

  &__action-description {
    font-size: var(--text-sm);
    color: var(--color-text-secondary);
    margin-bottom: var(--spacing-2);
  }
}
